body{
    width: 100%;
    height: 7514px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #DFF3F0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
}
.logo{
    width: 7%;
    margin:0.75rem 0 0 3rem;
}
.navbar-links{
    margin-right: 0.5rem;
}
.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-links li{
    list-style: none;
}
.navbar-links li a{
    text-decoration: none;
    width: 93px;
    height: 41px;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 41px;
    color: #000000;
    display: block;
    padding: 2rem;
}
.navbar-links li a:focus{
    color: #1A7F72;
    border-bottom: 3px solid #1A7F72;
}
.toggle-button{
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 50px;
    height: 40px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: black;
}
.section1{
    height: 1065px;
    border: 1px solid transparent;
    background-image: url("../images/BG vector.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.section1>h1{
    width: 50%;
    height: 176px;
    font-style: italic;
    font-weight: normal;
    font-size: 68px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
    margin: 2rem auto 0;
}
.section1>p{
    width: 70%;
    height: 62px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    margin: 1rem auto 0;
    display: block;
}
.sec1Button{
    background: linear-gradient(180deg, #259385 0%, #159685 100%);
    box-shadow: 0 20px 40px rgba(21, 113, 101, 0.2);
    border-radius: 50px;
    width: 300px;
    height: 75px;
    text-align: center;
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 130%;
    margin: 2rem auto;
    display: block;
}
.section1>img{
    display: block;
    margin: 1rem auto 0;
}
.section2{
    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid transparent;
}
.sec2-item{
    width: 420px;
    height: 535px;
    margin: 0;
    padding: 0;
}
.sec2-item:nth-child(1){
    background-image: url("../images/sec2-item 1bg.svg") ;
    background-size: cover;
    background-position: center;
}
.sec2-item:nth-child(2){
    background-image: url("../images/sec2-item 2bg.svg");
    background-size: cover;
    background-position: center;
}
.sec2-item:nth-child(3){
    background-image: url("../images/sec2-item 3bg.svg");
    background-size: cover;
    background-position: center;
}
.sec2-item>img{
    margin: 4rem auto 0;
    display: block;
    width: 20%;
}
.sec2-item>h3{
    width: 155px;
    height: 47px;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 47px;
    text-align: center;
    margin: 1rem auto;
}
.sec2-item>p{
    width: 65%;
    height: 92px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    margin: 0 auto ;
}
.sec2-itemButton{
    width: 200px;
    height: 45px;
    background: linear-gradient(180deg, #259385 0%, #159685 100%);
    box-shadow: 0 13px 28px rgba(26, 127, 114, 0.2);
    border-radius: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    color: #FFFFFF;
    margin: 1.5rem auto 0;
    display: block;
}
.section3{
    width: 100%;
    height: 1075px;
    background-image: url("../images/Bgsection3.svg")  ;
    background-repeat: no-repeat;
    background-position: right;

}
.section3>h1{
    width: 50%;
    height: 140px;
    font-style: normal;
    font-weight: normal;
    font-size: 54px;
    line-height: 130%;
    text-align: center;
    margin: 1em auto;
}
.section3>p{
    width: 1105px;
    height: 62px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    margin: 1em auto;
}
.section3Content{
    width: 100%;
    display: flex;align-items: center;
    justify-content: center;
    margin-top: 2em ;

}
.sec3item{
    padding: 1rem;
    margin-top: 1rem ;
    position: relative;

}
.sec3item>a{
    width: 40%;
    height: 35px;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 47px;
    text-align: left;
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
}
.sec3item>p{
    width: 619px;
    height: 106px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.5;
}



